@import './base.css';
@import 'tailwindcss';

#app {
  max-width: 1280px;
  margin: 0 auto;

  font-weight: normal;
}

/* is this necessary? */
/* a,
.red {
  text-decoration: none;
  color: rgb(128, 0, 0);
  transition: 0.4s;
} */ 

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 50%, 0.874);
    @apply rounded;
  }
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}