@import './base.css';
@import './charsheet.css';
@import 'tailwindcss';

#app {
  max-width: 1280px;
  margin: 0 auto;

  font-weight: normal;
}

.ff-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.ff-input:focus {
  @apply outline-none ring;
}

.ff-button {
  @apply bg-red-500 text-white px-4 py-2 rounded; 
}

.ff-button:dark {
  @apply text-gray-900;
}

.ff-button:hover {
  @apply bg-red-800;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 50%, 0.874);
    @apply rounded;
  }
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}

